*{
    padding:0px;
    margin:0px;
    font-family: "Microsoft YaHei","Microsoft YaHei UI Light",sans-serif;

}
.container{
    margin: 20px auto;
    width:1000px;
    height:auto;
}
.container>.box:first-child{
    float:left;
}
.container>.box:last-child{
    float:right;
}
.container>.box>h2{
    text-align: center;
    display: block;
    width:420px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container>.box>.stage{
    margin:10px auto;
    width:420px;
    height:420px;
    padding:8px;
    border:2px solid #aaaaaa;
}
.block{
    position: absolute;
    width:100px;
    height:100px;
    line-height:100px;
    text-align: center;
    font-size: 40px;
    -webkit-transition: margin-left 0.25s, margin-top 0.25s;
    -moz-transition: margin-left 0.25s, margin-top 0.25s;
    -ms-transition: margin-left 0.25s, margin-top 0.25s;
    -o-transition: margin-left 0.25s, margin-top 0.25s;
    transition: margin-left 0.25s, margin-top 0.25s;
}
.container>.box>.scoreBox{
    width:300px;
    padding:5px;
    height:50px;
    font-size: 26px;
    letter-spacing:1px;
    float:left;
}
.container>.box>.scoreBox>span{
    margin-left: 10px;
}
.container>.box>.readyBtn{
    border:0;
    float:right;
    color:white;
    background-color: #24a7f0;
    width:100px;
    height:40px;
    font-size: 20px;
    margin-right: 20px;
    cursor:pointer;
    outline:none;
}
.container>.box>.state{
    width:100px;
    height:50px;
    line-height:50px;
    font-weight: bold;
    font-size: 26px;
    /*color:coral;*/
    color:cornflowerblue;
    float:right;

}